<h1>SubProcesso</h1>
<div id="editor" class="container">
    <div id="shapes" class="shapes">
        <img src="assets/editor.png" />
    </div>
    <div id="properties" class="properties">
    <div class="property">
        Atividade
    </div>
    <div class="property">
        <label>id:</label>&nbsp;<input type="text" disabled />
    </div>
    <div class="property">
        <label>nome:</label>&nbsp;<input type="text" />
    </div>
    <div class="property">
        <label>empresa:</label><select><option>Empresa #1</option></select>
    </div>
    <div class="property">
        <label>área:</label><select><option>Área #1</option></select>
    </div>
    <div class="property">
        <label>processo:</label>&nbsp;Processo #1
    </div>
    <div class="property">
        <label>subprocesso:</label>&nbsp;SubProcesso #1
    </div>
    <div class="property">
        <label>descrição:</label><textarea></textarea>
    </div>
    <div class="property">
        <label>entradas:</label><textarea></textarea>
    </div>
    <div class="property">
        <label>saídas:</label><textarea></textarea>
    </div>
    <div class="property centered">
        <button>Save</button>
    </div>
    </div>
    </div>
    