<h1>Processo</h1>
<div id="editor" class="container">
    <div id="shapes" class="shapes">
        <img src="assets/editor.png" />
    </div>
    <div id="properties" class="properties">
    <div class="property">
        Risco
    </div>
    <div class="property">
        <label>id:</label>&nbsp;<input type="text" disabled />
    </div>
    <div class="property">
        <label>nome:</label>&nbsp;<input type="text" />
    </div>
    <div class="property">
        <label>categoria:</label><select><option>Empresa #1</option></select>
    </div>
    <div class="property">
        <label>qualificacao:</label><select><option>Área #1</option></select>
    </div>
    <div class="property">
        <label>descrição:</label><textarea></textarea>
    </div>
    <div class="property centered">
        <button>Save</button>
    </div>
    </div>
    </div>
    